.card-body{
    background-color: rgb(131, 131, 255);
    color: white
    
}
.card
{
    background-color: rgb(168, 166, 184);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;

}
